.tooltipReference {
  /* text-decoration: underline dotted; */
  text-underline-offset: 2px;
  position: relative;
}

.tooltip {
  margin-bottom: .1em;
  padding: .2em;
  background-color: var(--c-bg1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: .8em;
  max-width: 40em;
  font-weight: var(--font-weight-normal);
}

.tooltipArrow {
  position: absolute;

  width: 8px;
  height: 8px;

  background: var(--c-bg1);

  transform: rotate(45deg);
}