
.reportPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.reportPage > main {
  flex: 1;
}

.reportViewer {
  --total-padding: .3em;
  width: min(calc((100vh - 2 * var(--total-padding)) * 210 / 297), 60vw);
  aspect-ratio: 210 / 297;
  height: auto;
  box-sizing: content-box;
  border: var(--total-padding) solid var(--c-bg4);
}

.reportPageContent {
  padding: 1em;
}

.reportPageContent h1 {
  margin-top: 0;
}


.reportDownloadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-size: 1.1rem;
}
.reportDownloadButton a {
  text-decoration: none;
  color: var(--c-text);
}
.reportDownloadButton button {
  display: flex;
}