
.report-page {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  width: 100vw;
}

.report-page > aside {
  flex: 1;
}

.reportViewer {
  --total-padding: .3em;
  width: min(calc((100vh - 2 * var(--total-padding)) * 210 / 297), 60vw);
  aspect-ratio: 210 / 297;
  height: auto;
  box-sizing: content-box;
  border: var(--total-padding) solid var(--c-bg4);


}