header {
  height: var(--header-height);
}

header h1 {
  margin: 0;
  padding: 0.2rem 1rem;
  font-size: 1.5rem;
  line-height: calc(var(--header-height) - 0.4rem);
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: var(--dashboard-height);
}