:root {
  --header-height: 1.9rem;
  --dashboard-height: calc(100vh - var(--header-height));
  --grid-gap: 1em;
  font-size: 14px;

  --font-body: Source sans Pro, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-heading: Raleway, var(--font-body); /* TODO: Ensure these font is loaded */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-medium: 600;

  --c-bg1: #fff;
  --c-bg2: #eee;
  --c-bg3: #ddd;
  --c-bg4: #888;
  --c-text: #000;
  --c-accent: #000;
  --c-accent2: #444;
  --c-highlighted: #eee;
  --c-selected: #4adbfb;
  --c-selected2: #05c1eb;
  --c-fylke: #396500;
  --c-norge: #2c0065;
  --c-map-border: var(--c-accent);
}

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: var(--c-bg2);
  color: var(--c-text);
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
}

h1, h1 * {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
}

button {
  background: rgba(0, 0, 0, 0.0);
  border: unset;
  padding: .5em 1em;
  cursor: pointer;
  transition: background-color 0.25s;
  font-size: 1em;
  font-weight: var(--font-weight-normal);
  font-family: var(--font-body);
}

button:hover,
button:focus-visible {
  background: rgba(0, 0, 0, 0.3);
}
